<!DOCTYPE html>
<html>
<head>
    <title>Azure Cosmos DB Data</title>
</head>
<body>
    <h1>Data from Azure Cosmos DB</h1>
    <ul>
        <% items.forEach(item => { %>
            <li><%= JSON.stringify(item) %></li>
        <% }) %>
    </ul>
</body>
</html>

